/* General */
:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Quicksand', sans-serif;
}
.inactive {
  display: none !important;
}

/* Navbar (general) */
.menu {
  display: none;
}
.logo {
  width: 10rem;
}
nav {
  font-size: var(--md);
  display: flex;
  padding: 0 2.4rem;
  justify-content: space-between;
  height: 6rem;
  border-bottom: 1px solid var(--very-light-pink);
}
.navbar-left,
.navbar-right {
  display: flex;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.navbar-left ul {
  margin-left: 1.2rem;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: .8rem;
  border-radius: .8rem;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  text-decoration: none;
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
}
.navbar-email {
  color: var(--very-light-pink);
  margin-right: 1.2rem;
  font-size: var(--sm);
  cursor: pointer;
}

.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 1.75rem;
  height: 1.75rem;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Desktop Menu */
.desktop-menu {
  width: 13rem;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: .6rem;
  padding: 2rem 2rem 0 2rem;
  position: absolute;
  background-color: var(--white);
  top: 5.9rem;
  right: 6.4rem;
  z-index: 20;
}

.desktop-menu ul {
  list-style: none;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-size: var(--sm);
  font-weight: bold;
}

.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2rem;

}
.desktop-menu ul li:last-child {
  padding-top: 2rem;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* Mobile Menu */
.mobile-menu {
  width: 100%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6rem);
  position: absolute;
  top: 6rem;
  left: 0;
  background-color: var(--white);
  z-index: 20;
}
.mobile-menu a {
  padding: 2.4rem;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 2.4rem;
}
.mobile-menu ul {
  padding: 0;
  margin: 2.4rem 0 0;
  list-style: none;
  font-size: var(--md);
}
.mobile-menu ul li {
  margin-bottom: 2.4rem;
}
.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
  color: var(--very-light-pink);
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul:nth-child(3) {
  margin-bottom: 1.4rem;
}
.mobile-menu .sign-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* Aside ( Shopping Cart Aside ) */
.shopping-cart-container {
  width: 36rem;
  padding: 2.4rem;
  position: absolute;
  right: 0;
  font-size: var(--md);
  background-color: var(--white);
  z-index: 20;
}
.my-order-content {
  display: flex;
  flex-direction: column;
}
.my-order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.title-container {
  display: flex;
  margin-bottom: 2rem;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 1.4rem;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.6rem;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 2.4rem;
  border-radius: .8rem;
  padding: 1.8rem 2.4rem;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 2rem;
}
.shopping-cart figure img {
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
  object-fit: cover;
  object-position: center;
}
.shopping-cart-close:hover {
  cursor: pointer;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 0.8rem;
  border: none;
  color: var(--white) ;
  width: 100%;
  cursor: pointer;
  font-size: var(--md) ;
  font-weight: bold;
  height: 5rem;
}
.checkout {
  width: 36rem;
  padding-bottom: 2.4rem;
  position: absolute;
  right: 0;
}

/* Product List */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24rem);
  gap: 2.6rem;
  place-content: center;
  margin-top: 2.4rem;
}
.product-card {
  width: 24rem;
}
.product-card img {
  width: 24rem;
  height: 24rem;
  border-radius: 2rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.product-card .product-image:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0,0.2);
  transition: box-shadow 0.2s ease-in-out;
}
.product-info {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info figure img {
  width: 3.5rem;
  height: 3.5rem;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-bottom: .4rem;
  margin-top: 0;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* Product Detail */
.product-detail {
  width: 36rem;
  padding-bottom: 2.4rem;
  position: absolute;
  right: 0;
  font-style: var(--md);
  background-color: var(--white);
  z-index: 20;
}
.product-detail-close {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  top: 2rem;
  left: 2rem;
  padding: 1.2rem;
  z-index: 20;
  box-sizing: content-box;
}
.product-detail-close:hover {
  cursor: pointer;
}
.product-detail > img:nth-child(2) {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0 0 2rem 2rem;
}

.product-detail-info {
  margin: 1.2rem 2.4rem 0 2.4rem;
}

.product-detail-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: .4rem;
}
.product-detail-info p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 3.6rem;
}
.product-detail-info p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 3.6rem;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.points {
    display: flex;
    justify-content: center;
}
.points > li {
    background: var(--very-light-pink);
    width: 8px;
    height: 8px;
    margin: 8px 6px;
    border-radius: 50%;
    list-style-type: none;
    cursor: pointer;
}
.points > .active {
    background: var(--hospital-green);
}
.points > li:hover {
    background: var(--hospital-green);
}

.lock {
  margin: 0;
  height: 100%;
  overflow: hidden
}

@media (max-width: 742px) {
  .navbar-email {
    display: none;
  }
}

@media (max-width: 640px) {
  .menu {
    display: block;
    width: 2.4rem;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .shopping-cart-container {
    width: 100%;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 14rem);
    gap: 2.6rem;
  }
  .product-card {
    width: 14rem;
  }
  .product-card img {
    width: 14rem;
    height: 14rem;
  }
  .product-detail {
    width: 100%;
  }
}
@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}
